*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

#others{
  border: 1px solid red;
  border-radius: 10px;
  margin: 0 0 10px 0;
}

#favs{
  border: 1px solid yellow;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

#events{
  border: 1px solid black;
  border-radius: 10px;
}

.card{
  display: flex;
  margin: 20px;
  border: 5px solid black;
  border-radius: 7px;
  width: 50%;
  height: 100%;
  img{
    width: 100px;
    height: 100px;
    margin: 10px
  }
  .icon{
    width: 75px;
    height: 75px;
  }
}
