<div id="header">
  <h1>Magic The Calendar</h1>
</div>

<div id="others">
  <p>Apartados para otros enlaces como un blog conjunto o redes sociales.</p>
</div>

<div id="favs">
  <p>Apartado donde podremos tener fijados proximos lanzamientos</p>
</div>

<div id="events">
  <p>Apartado para los distintos lanzamientos y eventos de MTG ordenados cronologicamente.</p>

  <div class="card">
    <div class="cardIMG">
      <img src="../assets/separador.png">
    </div>
    <div class="restCard">
      <p class="setName">Jace The Mind Scultor Set</p>
      <p class="launchTime">3 de enero</p>
      <p class="arenaLaunch">6 de enero</p>
      <p class="prerelease">1 de enero</p>
      <img class="icon" src="../assets/estrella.png">
    </div>
  </div>

</div>
